@import 'fonts';
@import 'vars';
@import 'global';



// header start 

.header {
  border-bottom: 1px solid $gray;
  margin-bottom: 36px;
  @include f400;
  background-color: #fff;
  z-index: 7;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__links {
  height: 100%;
  display: flex;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}

.header__links-pages {
  display: flex;
  height: 100%;

}

.header__links-page {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 7px;
  font-size: 16px;

  &--active {
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $orange;
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }

  &+.header__links-page {
    margin-left: 64px;
    height: 100%;
  }

  a,
  span {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.header__links-social {
  font-size: 14px;
  margin-left: 65px;
  color: #187CD3;
  padding-right: 11px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    right: -2px;
    top: 48px;
    background-image: url(../images/svg_sprite/sprite.svg#triagle_down);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover .links-social__items {
    display: flex;
  }
}

.links-social__items {
  width: 173px;
  max-height: 137px;
  padding: 19px;
  box-shadow: 0px 17px 46px rgba(0, 0, 0, 0.08);
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 71px;
  transition: all .3s;
  display: none;
  background-color: #fff;

  table {
    width: 100%;
    height: 100%;
  }
}

.links-social__item {
  width: 50%;
  border: 1px solid #E0E0E0;
  height: 50px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $orange;
      transition: all .3s;
      height: 100%;

      &:hover {
        fill: $blue;
      }
    }

    &:hover svg {
      fill: $blue;
    }
  }
}

.links-social__item-vk {
  border-bottom: none;
  border-right: none;
}

.links-social__item-facebook {
  border-right: none;

  svg {
    margin-top: 4px;
    fill: #000;
  }
}

.links-social__item-odnoclassniki {
  border-bottom: none;
}

.header__burger-btn {
  display: none;

  span {
    width: 28px;
    height: 2px;
    background-color: $blue;
    display: block;

    &+span {
      margin-top: 6px;
    }
  }
}

.header__links-close {
  display: none;
  width: 18px;
  height: 18px;
  margin-left: auto;
  z-index: 1;
  margin-top: 26px;
  margin-bottom: 29px;

  svg {
    max-height: 100%;
    fill: #fff;
  }
}

// header end 
// welcome start

.welcome {
  background-image: url(../images/webp_image/welcome_backgroud.webp);
  background-position: left;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 76px;
  margin-top: 135px;
}

.welcome__inner {
  display: flex;
  height: 448px;
  align-items: center;
  align-content: space-between;
  position: relative;
}

.welcome__info {
  width: 500px;
}

.welcome__info-title {
  @include f700;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 56px;
}

.welcome__info-button {
  button {
    width: 254px;
  }
}

.welcome_image {
  align-self: flex-end;
  position: absolute;
  right: -90px;
  bottom: 0px;
  width: 678px;
  height: 430px;


  img {
    width: 100%;
  }
}

// welcome end
// benefits start

.benefits {
  margin-bottom: 70px;

  .slick-slide {
    width: 398px;
    height: 376px;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    max-width: 1590px;
  }
}

.benefits__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.benefits__item {
  width: 398px;
  height: 376px;
  border: 1px solid #EDEDED;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  transition: filter .3s;
  outline: none;

  &:hover {
    border: none;
    @include shadow;
    background-color: #fff;

    svg {
      fill: $orange;
    }
  }

  &:hover .benefits__item-desc span {
    opacity: 1;
    transition: max-height .5s;
    max-height: 150px;
  }
}

.benefits__items {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item-image {
  text-align: center;

  svg {
    fill: $gray2;
  }
}

.benefits__item-desc {
  @include f400;
  font-size: 20px;
  line-height: 25px;
  color: #242627;
  text-align: center;
  width: 100%;

  span {
    color: #646464;
    font-size: 16px;
    line-height: 26px;
    display: block;
    margin-top: 23px;
    opacity: 0;
    max-height: 0;
    padding: 0 50px;

  }
}

// benefits end
// positions start

.positions__slider {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  background-color: #F7F7F7;
  margin-bottom: 60px;
  overflow: hidden;
  position: relative;

  .slick-slide {
    margin: 0 26px;
  }

  .slick-list {
    margin: 0 -26px;
  }

  .slide-button {
    width: 52px;
    height: 92px;
    position: relative;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      border: none;
      border: 1px solid rgb(224, 224, 224, 0);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/svg_sprite/sprite.svg#arrow_slide);
      width: 10px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .prev-slide {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0, -50%);

    &::before {
      transform: rotate(180deg);
      top: 47%;
      left: 43%;
    }
  }

  .next-slide {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -100px;
  }
}

.slider-item__text {
  width: 630px;
  padding: 118px 0 85px 0;
}

.slider-item__name {
  font-size: 36px;
  @include f400;
  color: #242627;

  span {
    color: #828282;
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin-top: 14px;
    margin-bottom: 36px;
  }
}

.slider-item__comment {
  @include f400;
  font-size: 18px;
  line-height: 32px;
  color: #242627;
}

.positions__slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.slider-item__photo {
  align-self: flex-end;
  position: absolute;
  bottom: -4px;
  right: -64px;
}


// positions end 
// services start

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.services__title {
  font-size: 24px;
  @include f400;
  line-height: 26px;
  color: #000;
  text-align: center;
  width: 878px;
  margin-bottom: 70px;
  width: 100%;
}

.services__wrapper {
  display: flex;
  justify-content: center;
  height: 359px;

}

.services__wrapper-item {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .3s;
  padding: 44px 59px;

  &:hover {
    box-shadow: 0px 14px 24px rgba(15, 18, 20, 0.1);
  }

  &:hover .wrapper-item__button {
    max-height: 100px;
    border: 1px solid #EBEBEB;
  }

  &:hover .wrapper-item__image {
    background-color: $orange;
  }

  &:hover svg {
    fill: #fff;
  }

}

.wrapper-item__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray;
  transition: all .3s;
  margin: 0 auto;
  margin-bottom: 44px;
  transition: all .3s;

  svg {
    max-height: 100%;
    transition: all .3s;

  }

}

.wrapper-item__title {
  font-size: 20px;
  @include f400;
  line-height: 26px;
  text-align: center;
  width: 100%;
  margin-bottom: 37px;
}

.more-button {
  border: 1px solid #EBEBEB;
  width: 174px;
  font-size: 14px;
  @include f400;
  color: #187CD3;
  margin: 0 auto;
  transition: all .3s;

  &:hover {
    border: 1px solid #BDBDBD;
  }

  a {
    width: 100%;
    height: 100%;
    padding: 19px 36px 19px 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 28px;
      top: 24px;
      width: 8px;
      height: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../images/svg_sprite/sprite.svg#arrow_slide);
    }
  }
}

.wrapper-item__button {
  transition: max-height .3s;
  max-height: 0;
  overflow: hidden;
  border: none;

  &:hover {
    border: 1px solid #BDBDBD;
  }
}

// services end
// video start

.video-fluid {
  max-width: 1680px;
  width: 100%;
  height: 556px;
  margin: 0 auto;
  position: relative;

}

.video-fluid__video {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  min-width: 100%;
  overflow: hidden;
  // height: 556px;
  height: 100%;
  width: auto;
  z-index: 0;
  object-fit: cover;
  z-index: 0;
  display: none;
}


.video-fluid__video--play {
  display: block;
}

.video-fluid__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/webp_image/video_back.webp);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
}

.video-fluid__play {
  cursor: pointer;
  width: 104px;
  height: 104px;
  border: 1px solid #C3C8C8;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: calc(50% + 52px);
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    fill: #fff;
  }
}

.video-fluid__play--hidden {
  display: none;
}

// video end
// our-values start
.our-values {
  background-color: #F2F2F2;
}

.our-values__title {
  padding-top: 70px;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 58px;
  text-align: center;
}

.our-values__items {
  display: flex;
}

.our-values__item {
  padding: 56px 50px 50px;
  background-color: #fff;
  height: 413px;
  max-width: 376px;
  margin-bottom: 90px;

  &+.our-values__item {
    margin-left: 32px;
  }
}

.our-values__item-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;

}


.our-values__item-decs {
  line-height: 30px;
  font-size: 16px;
  color: $gray2;
}

// our-values end
// vacancies start

.vacancies {
  margin-bottom: 90px;
}

.vacancies__title {
  font-size: 36px;
  line-height: 44.6px;
  color: #242627;
  text-align: center;
  padding-top: 64px;
  margin-bottom: 57.5px;
}

.vacancies__item {
  padding: 67px 60px 64px 60px;
  width: 376px;
  text-align: center;
  border: 1px solid #EBEBEB;
  background-color: #fff;
  transition: all .3s;

  &:hover {
    filter: drop-shadow(0px 14px 24px rgba(15, 18, 20, 0.1));
    border: 1px solid rgb(235, 235, 235, 0);
  }

  &:hover .vacancies__item-image {
    background-color: $orange;
  }
}



.vacancies__item-name {
  font-size: 22px;
  line-height: 28px;
  color: #000;
  margin-bottom: 45px;
}

.vacancies__item-price {
  font-size: 18px;
  line-height: 22px;
  color: #242627;
  margin-bottom: 56px;
}

.vacancies__item-price--noprice {
  font-size: 15px;
  line-height: 18.6px;
}

.vacancies__item-image {
  background: #003264;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 55px;
  transition: all .3s;

  svg {
    fill: #fff;
    max-height: 100%;
  }
}

.vacancies__switcher {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 94.5px;
}

.vacancies__switcher-switcher {
  display: none;
}

.vacancies__switcher-all {
  margin-left: 40px;
}

.vacancies__switcher-country {
  margin-right: 40px;
}

.vacancies__switcher-choice {
  font-size: 18px;
  @include f500;
  color: #828282;
  line-height: 22px;
  width: 327px;
}

.vacancies__switcher-choice--active {
  color: #242627;
}

.switch {
  width: 62px;
  height: 31px;
  background: #E5E5E5;
  z-index: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  display: inline-block;
}

.switch:before {
  content: ' ';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 60px;
  height: 30px;
  background: $orange;
  z-index: 1;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.switch:after {
  content: ' ';
  height: 25.8px;
  width: 25.8px;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.switchOn:after {
  left: 33px;
}

.vacancies__more-jobs {
  display: flex;
  justify-content: center;

  button {
    width: 217px;
    height: 64px;
  }
}

.vacancies__items {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.vacancies__item {
  margin-left: 32px;
  margin-bottom: 32px;

  &:first-child,
  &:nth-child(4n) {
    margin-left: 0;
  }
}

// vacancies end
// student questionnaire start

.student-questionnaire {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 90px;

  &::after {
    content: '';
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #F9F9F9;
    z-index: -1;
    border-radius: 0px 36px 36px 0px;
  }

  &::before {
    content: '';
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #F9F9F9;
    z-index: -1;
    border-radius: 36px 0px 0px 36px;
  }
}

.student-questionnaire__inner {
  padding: 86px 0 104px 0;
}

.student-questionnaire__title {
  font-size: 36px;
  line-height: 44.6px;
  color: #242627;
  text-align: center;

  span {
    font-size: 22px;
    line-height: 27px;
    color: #242627;
    display: block;
    margin-top: 28px;
    margin-bottom: 84px;
  }
}

.student-questionnaire__items {
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
}

.student-questionnaire__item {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.questionnaire-item__image {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;

  svg {
    max-height: 100%;
    fill: #242627;
  }
}


.questionnaire-item__decs {
  font-size: 18px;
  line-height: 22.3px;
  color: #242627;
  text-align: center;
}

.student-questionnaire__link {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  a {
    color: #187CD3;
  }
}

// student questionnaire end
// stories start

.stories {
  margin-bottom: 114px;
  position: relative;
}

.stories__title {
  text-align: center;
  font-size: 36px;
  line-height: 44.6px;
  color: $dark;
  margin-bottom: 41px;

  &::before {
    content: '';
    background-color: #fff;
    box-shadow: 0px 14px 24px rgba(15, 18, 20, 0.1);
    width: 1396px;
    min-height: 152px;
    position: absolute;
    left: 50%;
    bottom: -28px;
    transform: translate(-50%);
    z-index: -1;
  }
}

.stories__inner {
  max-width: 1480px;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 14px 24px rgba(15, 18, 20, 0.1));
  height: 446px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -404px;
    bottom: 0px;
    background-image: url(../images/webp_image/dots_backgroud.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    transition: all .3s;
  }

  .slick-current {
    opacity: 1;
  }

  .slide-button {
    width: 52px;
    height: 92px;
    position: relative;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      border: none;
      border: 1px solid rgb(224, 224, 224, 0);
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/svg_sprite/sprite.svg#arrow_slide);
      width: 10px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .prev-slide {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0, -50%);

    &::before {
      transform: rotate(180deg);
      top: 47%;
      left: 43%;
    }
  }

  .next-slide {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -100px;
  }
}


.stories__slider {
  position: relative;
}


.stories__slider-item {
  display: flex;
  padding: 117px 0 87px 0;
  position: relative;
}

.slider-item__image {
  position: absolute;
  bottom: 3px;
  right: 9px;
  z-index: 1;
}

.slider-item__text-info {
  width: 630px;
}

.slider-item__name {
  font-size: 36px;
  color: $dark;
  margin-bottom: 20px;

  span {
    font-size: 16px;
    line-height: 28px;
    color: #828282;
  }
}

.slider-item__desc {
  font-size: 22px;
  line-height: 32px;
  color: $dark;
  margin-bottom: 42px;
}

.slider-item__link {
  font-size: 16px;
  line-height: 20px;
  color: #187CD3;
}


// stories end
// footer start

.footer__top {
  background-image: url(../images/webp_image/map.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 632px;
  padding-top: 67px;
}

.top-contacts__image {
  background-color: $orange;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;

  &::before {
    position: absolute;
    bottom: -3px;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #e9862a;
    transform: rotate(45deg);
  }

  svg {
    fill: #fff;
  }
}

.top-contacts__desc {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-bottom: 19px;
}

.contacts__link-phone {
  text-align: center;
  display: block;
  font-size: 64px;
  line-height: 75px;
  color: #000;
  margin-bottom: 16px;

}

.contacts__link-email {
  font-size: 18px;
  line-height: 21px;
  color: #187CD3;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

.footer__top-button {
  text-align: center;
  margin-bottom: 79px;

  button {
    width: 262px;
    height: 64px;
  }
}

.footer__top-social {
  display: flex;
  justify-content: center;
}

.top-social__wrapper {
  display: flex;
  width: 318px;
}

.top-social__item {
  width: 68px;
  height: 50px;
  border: 1px solid #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;

  &+.top-social__item {
    margin-left: 16px;
  }

  svg {
    fill: $orange;
    max-height: 100%;
  }
}

.top-social__item-face {

  // width: 68px;
  svg {
    margin-top: 9px;
  }
}

.top-social__item-vk {
  width: 20px;
}

.top-social__item-odoclassniki {
  width: 11px;
}

.top-social__item-facebook {
  width: 20px;
}

.top-social__item-insta {
  width: 15px;
}

.footer__bottom-logo {
  height: 17px;

  svg {
    width: 68px;
    fill: #C3C8C8;
    max-height: 100%;
  }



}


.footer__bottom {
  height: 171px;
  background-color: #fff;
  text-align: center;
}

.footer__bottom-copyright {
  padding-top: 40px;
  margin-bottom: 17px;
  font-size: 11px;
  line-height: 16px;
  color: #828282;
}

.footer__bottom-privacy {
  font-size: 14px;
  line-height: 17px;
  color: #187CD3;
}

// footer end
// form-feedback :start 

.form-feedback,
.popup-window {
  max-width: 1145px;
  width: 100%;
  padding: 104px 253px 65px 180px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.form-feedback {
  display: none;
}

.form-feedback__inner {
  width: 100%;
}

.form-feedback__title {
  @include f700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 57px;
}

.form-feedback__input-job,
.form-feedback__input-name,
.form-feedback__input-education,
.form-feedback__input-address,
.form-feedback__input-phone,
.form-feedback__input-email,
.form-feedback__input-date,
.form-feedback__input-comment {
  margin-bottom: 32px;

  input,
  textarea {
    width: 100%;
    background-color: #F2F2F2;
    padding: 25px 28px;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 16px;
      line-height: 20px;
      color: #828282;
    }

    &:focus {
      background-color: #fff;
    }
  }

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #F2F2F2 inset;
}

.form-feedback__input-close {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  display: none;
  cursor: pointer;

  svg {
    max-height: 100%;
    width: 12px;
  }
}

.form-feedback__input {
  position: relative;
  border: 1px solid #e0e0e000;

  &:hover,
  &--focus {
    border: 1px solid #e0e0e0;
  }

  &:focus {
    border: 1px solid rgb(242, 242, 242, 1);
  }

  &--error span {
    display: block;
    color: #BE1A1A;
    font-size: 11px;
    line-height: 14px;
    position: absolute;
    bottom: -15px;
    left: 27px;
    display: none;
  }

  &--valid {
    border: 1px solid #e0e0e000;

    &::after {
      content: '';
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      background-image: url(../images/svg_sprite/sprite.svg#valid);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--error {
    position: relative;
    border: 1px solid #BE1A1A;

    input {
      background-color: #fff;
      position: relative;
    }

    .form-feedback__input-close {
      display: block;
    }

  }

}


.form-feedback__input-date.form-feedback__input--valid {
  &::after {
    content: '';
    background-image: none;
  }
}


.form-feedback__input-phone,
.form-feedback__input-email {
  width: 352px;
  display: inline-block;

  input {
    width: 100%;
    height: 70px;
  }
}

.form-feedback__input {
  position: relative;

  label {
    transition: all .3s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 28px;
    color: #828282;
    font-size: 16px;
    line-height: 20px;
    pointer-events: none;
  }

  input.not-empty~label,
  label.clicked,
  input:focus~label {
    top: 12px;
    left: 28px;
    font-size: 13px;
    line-height: 16px;
  }

}

.form-feedback__input-date {
  width: 226px;
  height: 70px;
  display: inline-block;


  input {
    padding-right: 17px;

    &::-webkit-datetime-edit-text {
      display: none;
    }

    &::-webkit-datetime-edit-month-field {
      color: #242627;
      display: none;
    }

    &::-webkit-datetime-edit-day-field {
      color: #242627;
      display: none;
    }

    &::-webkit-datetime-edit-year-field {
      color: #242627;
      display: none;
    }

    &::-webkit-clear-button {
      font-size: 18px;
      height: 30px;
      position: relative;
      right: 5px;
      margin-right: 4px;
      display: none;
    }

    &::-webkit-inner-spin-button {
      height: 30px;
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      font-size: 0px;
      color: transparent;
      background-image: url(../images/svg_sprite/sprite.svg#date);
      width: 18px;
      height: 16px;



      &:hover {
        background-color: transparent;
        color: transparent;
        cursor: pointer;
      }

      &:active {
        color: transparent;
      }
    }
  }

  input.not-empty {
    &::-webkit-datetime-edit-text {
      display: inline-block;
    }

    &::-webkit-datetime-edit-month-field {
      color: #242627;
      display: inline-block;
    }

    &::-webkit-datetime-edit-day-field {
      color: #242627;
      display: inline-block;
    }

    &::-webkit-datetime-edit-year-field {
      color: #242627;
      display: inline-block;
    }
  }
}

.form-feedback__input-file {
  display: inline-block;
  margin-left: 34px;
  width: 262px;
  font-size: 15px;
  line-height: 19px;
  color: #187CD3;
  padding: 25px 10px;
  border-bottom: 1px solid #242627;
  position: relative;

  .jq-file {
    vertical-align: middle;

    .jq-file__name {}

    .jq-file__browse {
      text-align: center;
    }
  }

  .jq-file.changed {
    .jq-file__name {
      font-size: 15px;
      line-height: 18.6px;
      color: #242627;
      text-align: left;
      max-width: 206px;
    }

    .jq-file__browse {
      display: none;
    }
  }

  .jq-file.changed+.input-file__trash {
    display: block;
  }

  .input-file__trash {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
    display: none;
    cursor: pointer;

  }

  svg {
    max-height: 100%;
    width: 100%;
    height: 11px;
    fill: $orange;
  }

}

.form-feedback__input-comment {
  width: 712px;
  height: 153px;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
  }

  label {
    transition: all .3s;
    position: absolute;
    top: 25px;
    left: 28px;
    color: #828282;
    font-size: 16px;
    line-height: 20px;
    pointer-events: none;
  }

  textarea.not-empty~label,
  label.clicked,
  textarea:focus~label {
    top: 12px;
    left: 28px;
    font-size: 13px;
    line-height: 16px;
  }
}

.form-feedback__form-button {
  padding: 38px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F2F2F2;
  border-radius: 2px;

  span {
    margin-left: 19px;
    font-size: 13px;
    line-height: 16px;
    color: #242627;

    a {
      color: #187CD3;
    }
  }

  .jq-checkbox {
    border: 1px solid #E9862A;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    position: relative;
  }

  .jq-checkbox.checked {
    background: #E9862A;


    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 7px;
      background-image: url(../images/svg_sprite/sprite.svg#yes);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

    }
  }
}

.form-button__checkbox {
  display: flex;
  align-items: center;
}

.form-button__button {
  padding: 22px 63px;
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  border-radius: 0;
  border: none;
  outline: none;
  background: #E9862A;
  cursor: pointer;

  &--disabled {
    background: #C3C8C8;
    padding: 22px 63px;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    border-radius: 0;
    border: none;
    outline: none;
  }

  &:hover {
    background: #E77E1E;
  }

  &--process {
    position: relative;
    color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1%;
      height: 100%;
      background: #E77E1E;
      @include process_animation;

    }

    &::after {
      content: 'Отправить';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      line-height: 17px;
      color: #fff;
      text-align: center;
    }
  }
}

.form-feedback__close,
.close-popup {
  width: 70px;
  height: 70px;
  background-color: $orange;
  border: 1px solid #E9862A;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -70px;
  top: 0;
  cursor: pointer;

  svg {
    max-height: 100%;
    fill: #fff;
    width: 12px;
    height: 12px;
  }

}

// form-feedback end
// job-popup start

.job-popup {
  padding: 104px 98px 147px 112px;
}

.short-info__title {
  @include f700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 38px;
  color: #000;
}

.short-info__desk {
  font-size: 18px;
  line-height: 23px;
  color: #000;
  margin-bottom: 47px;
}

.short-info__button {
  margin-bottom: 56px;
}

.full-info__button,
.short-info__button {
  width: 247px;
  height: 64px;

  button {
    width: 100%;
    height: 100%;
  }
}

.job-popup__title {
  margin-bottom: 37px;
  font-size: 24px;
  color: $dark;
}

.job-popup__decs {
  margin-bottom: 56px;

  li {
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    margin-bottom: 28px;
    padding-left: 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 4px;
      height: 4px;
      background-color: $blue;
    }
  }
}

.full-info__date {
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 56px;
}

.conditions-items__item-price {

  span {
    background: rgba(233, 134, 42, 0.17);
    padding: 5px 11px;
    height: 26px;
  }
}

// job-popup end 
// job popup slider start

.vacancies__jobs-slider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 100%;
  display: none;

  &--show {
    display: block;
  }
}

.jobs-slider__inner {
  position: relative;
  width: 1145px;
  margin: 0 auto;
}

.jobs-slider__arrow {
  width: 52px;
  height: 94px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .3s;
  cursor: pointer;
  display: none;

  &--visible {
    display: flex;
  }

  svg {
    fill: #EBEBEB;
    width: 6px;
    height: 10px;
  }

  &:hover {
    background-color: #242627;
    border: 1px solid #242627;
  }
}

.jobs-slider__arrow-prev {
  left: -86px;

  svg {
    transform: rotate(-180deg);
  }
}

.jobs-slider__arrow-next {
  right: -86px;
}

// job popup slider end 